//renkler
$red: #e40030;
$gray: #f7f7f7;
$black: #1a1a1a;
$white: #fff;
$tableLink: #fff0f5;

.paginationArea{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 #ededed;
}
.change{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 12px;
    margin-top: 10px;
    span{
        padding-top: 5px;
        line-height: 32px;
        font-weight: 600;
        margin-right: 5px;
    }
}
.pagination{
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    list-style: none;
    text-align: center;
    li{
        display: inline;
        font-weight: 600;
        a,span{
            cursor:default;
            padding-top: 10px;
            padding-left: 5px;
            padding-right: 5px;
            float: left;
            position: relative;
            line-height: 19px;
            text-decoration: none;
            min-width: 30px;
            border: 1px solid $gray;
            text-align: center;
            box-shadow: 0 2px 10px 0 #ededed;
            margin-right: 5px;
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }
    }
}
.active{
    display: inline;
    font-weight: 600;
    pointer-events: none;
    a,a:hover{
        z-index: 1;
        color: $white;
        background-color: $red;
        cursor: default;
    }
}
.pag:hover{
    background-color: $tableLink;
    border: 1px solid $red;
}
.active-link{
    background-color: $red;
    color: $white;
}
.active-link:hover{
    color: $white;
}
.disable-arrow{
    a,a:hover{
        cursor:not-allowed;
        border:1px solid #e5e5e5;
        background-color: $gray;
        color:$black;
    }
}